// VARIABLES

/* georgia-regular - latin */
@font-face {
  font-family: "Georgia Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Georgia Regular"), url("../fonts/georgia.woff") format("woff");
}

/* kanit-regular - latin */
@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 400;
  src: local("Kanit Regular"), local("Kanit-Regular"),
    url("../fonts/kanit-v5-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/kanit-v5-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* kanit-500 - latin */
@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 500;
  src: local("Kanit Medium"), local("Kanit-Medium"),
    url("../fonts/kanit-v5-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/kanit-v5-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* kanit-600 - latin */
@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 600;
  src: local("Kanit SemiBold"), local("Kanit-SemiBold"),
    url("../fonts/kanit-v5-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/kanit-v5-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$primary-color: #d50000;
$white-color: #fff;
$black-color: #101010;
$dark-color: #131313;
$grey-color: #777;

$primary-font: "Kanit",
sans-serif;
$secondary-font: "Georgia",
serif;

/*--------------------------------------------------------------
0.0 CORE
--------------------------------------------------------------*/
html {
  height: 100%;
  color: $grey-color;
  font-size: 16px;
  font-family: $primary-font;
  line-height: 1.8;
  overflow-x: hidden;
  scrollbar-color: $primary-color $black-color;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-thumb {
  background-color: $primary-color;
}

body {
  background: $black-color;
  position: relative;
}

a {
  text-decoration: none;
}

a:focus {
  outline-width: 1px;
  outline-style: dashed;
  outline-color: $primary-color;
}

::-moz-selection {
  color: $primary-color;
  background: $white-color;
}

::selection {
  color: $primary-color;
  background: $white-color;
}

.link {
  color: $grey-color;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.link:hover {
  color: $white-color;
}

.btn--primary {
  display: inline-block;
  padding: 1rem 2.5rem;
  background: $primary-color;
  color: $white-color;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: transform 0.2s ease-in-out;
}

.btn--primary:hover {
  background: red;
}

img,
picture {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1408px;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (max-width: 439px) {
  .container {
    padding: 0 1rem;
  }
}

.loader {
  background-color: $black-color;
  height: 100vh;
  width: 100%;
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  overflow: auto;
}

.closed {
  opacity: 0;
  visibility: hidden;
}

.loader img {
  width: 5rem;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
  -webkit-animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
1.0 HEADER
--------------------------------------------------------------*/

.header {
  background: $dark-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 888;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.logo {
  width: 10rem;
  cursor: pointer;
}

.navbar-item {
  display: inline;
  margin: 0 2.5rem;
}

.navbar-item:last-of-type {
  margin-right: 0;
}

.navbar-link {
  padding: 0.5rem;
  color: $grey-color;
  font-size: 0.875rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

// HAMBURGER ICON ANIMATION
.hamburger {
  display: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  z-index: 9999;
}

.hamburger-box {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  position: fixed;
  right: 1.5rem;
  top: 1rem;
  z-index: 999;
}

.hamburger-line {
  display: block;
  top: 50%;
}

.hamburger-line,
.hamburger-line:before,
.hamburger-line:after {
  width: 2rem;
  height: 2px;
  background-color: $white-color;
  border-radius: 0px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-line:before,
.hamburger-line:after {
  content: "";
  display: block;
}

.hamburger-line:before {
  top: -8px;
}

.hamburger-line:after {
  bottom: -8px;
}

.hamburger .hamburger-line {
  transition-timing-function: linear;
  transition-duration: 0.22s;
}

.hamburger .hamburger-line:before {
  transition: top 0.1s ease-in 0.25s;
}

.hamburger .hamburger-line:after {
  transition: bottom 0.1s ease-in 0.25s,
    transform 0.22s cubic-bezier(0.5, 0.1, 0.7, 0.2);
}

.hamburger.is-active .hamburger-line {
  transition-delay: 0.1s;
  transition-timing-function: cubic-bezier(0.2, 0.6, 0.3, 1);
  transform: rotate(225deg);
}

.hamburger.is-active .hamburger-line:before {
  top: 0;
  transition: top 0.1s ease-out;
}

.hamburger.is-active .hamburger-line:after {
  bottom: 0;
  transition: bottom 0.1s ease-out,
    transform 0.22s cubic-bezier(0.2, 0.6, 0.3, 1) 0.1s;
  transform: rotate(-90deg);
}

// HEADER MEDIA QUERIES

@media (max-width: 1079px) {
  .hamburger {
    display: block;
  }

  .header {
    display: grid;
  }

  .header__wrapper {
    display: grid;
    justify-content: stretch;
    grid-template-rows: minmax(20px, auto) 1fr;
  }

  .branding {
    justify-content: space-between;
  }

  .navbar li {
    display: block;
    margin: 5vh 0;
  }
}

@media (max-width: 439px) {
  .header__wrapper {
    padding: 2rem 1rem;
  }

  .hamburger-box {
    right: 0.5rem;
  }
}

/*--------------------------------------------------------------
2.0 HERO
--------------------------------------------------------------*/

.hero__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10rem 0;
}

.hero__one {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__header {
  position: absolute;
}

.hero-title {
  margin-bottom: 1rem;
  color: $white-color;
  font-family: $secondary-font;
  font-size: 6rem;
  letter-spacing: 1px;
}

.hero-text {
  padding-top: 1rem;
  font-size: 1.125rem;
  letter-spacing: 2px;
  line-height: 1.8;
}

.hero__two {
  position: relative;
  z-index: -1;
}

.hero__two:before {
  width: 483px;
  height: 596px;
  content: "";
  position: absolute;
  background: url('../img/skull.jpg');
  z-index: -2;
  left: -15rem;
  top: -20rem;
}

// HERO MEDIA QUERIES
@media (max-width: 1432px) {
  .hero__wrapper {
    padding: 10rem 2rem;
  }
}

@media (max-width: 1229px) {
  .hero__wrapper {
    grid-template-columns: 1fr;
  }

  .hero__one {
    padding: 10rem 0 15rem 0;
  }
}

@media (max-width: 972px) {
  .hero__wrapper {
    padding-bottom: 0;
  }
}

@media (max-width: 694px) {
  .hero__two:before {
    display: none;
  }

  .hero-title {
    font-size: 4rem;
  }

  .hero__one {
    padding: 8rem 0;
  }
}

@media (max-width: 492px) {
  .hero-title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 439px) {
  .hero__wrapper {
    padding: 10rem 1rem;
  }
}

@media (max-width: 399px) {
  .hero-text {
    font-size: 1rem;
  }
}

@media (max-width: 369px) {
  .hero-text {
    font-size: 0.875rem;
  }
}

@media (max-width: 348px) {
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-text {
    padding-top: 0rem;
  }
}

/*--------------------------------------------------------------
3.0 ABOUT
--------------------------------------------------------------*/
.about {
  position: relative;
  margin-bottom: 10rem;
}

.about__wrapper {
  display: grid;
  grid-template-columns: 6fr 4fr;
}

.about__content {
  text-align: right;
}

.about__content:after {
  content: "";
  position: absolute;
  display: block;
  top: -16rem;
  right: 0;
  width: 50vw;
  height: calc(100% + 16rem);
  background: url(../img/marble.jpg);
  background-size: cover;
  z-index: -12;
}

.about__img img {
  position: absolute;
  bottom: -8rem;
}

.about__img:after {
  content: "L";
  font-family: "Georgia", serif;
  color: $primary-color;
  position: absolute;
  display: block;
  top: 300px;
  right: 90px;
  width: 50vw;
  font-size: 30rem;
  z-index: -11;
}

.about__inside {
  padding: 10rem 0 9rem 0;
  z-index: 10;
}

.about-title {
  padding-bottom: 2rem;
  font-family: $secondary-font;
  font-size: 2.25rem;
  color: $white-color;
}

.about-text {
  max-width: 600px;
  font-size: 1.125rem;
  line-height: 1.8;
}

.about__content .btn {
  margin: 2.5rem 0;
}

@media (max-width: 1269px) {
  .about__img:after {
    display: none;
  }
}

@media (max-width: 972px) {
  .about {
    margin-bottom: 0;
  }

  .about__wrapper {
    grid-template-columns: 1fr;
  }

  .about__content {
    order: 1;
    text-align: left;
  }

  .about-inside {
    padding: 1rem 4rem 0;
  }

  .about__img {
    order: 2;
  }

  .about__img img {
    position: relative;
    bottom: 0;
  }
}

@media (max-width: 559px) {
  .about__content:after {
    background: none;
  }
}

@media (max-width: 439px) {
  .about__inside {
    padding: 0 0 7rem 0;
  }

  .about-title {
    font-size: 1.75rem;
  }
}

/*--------------------------------------------------------------
4.0 SERVICES
--------------------------------------------------------------*/
.services {
  padding: 7rem 0 12rem;
}

.services__top {
  display: grid;
  grid-template-columns: 5fr 3fr;
  min-height: 360px;
}

.services__top__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.services__top__header:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  width: calc(50vw + 180px);
  height: 100%;
  background: url(../img/box.jpg);
  background-repeat: repeat-x;
  background-position: top right;
  z-index: -5;
}

.services-heading {
  padding-right: 8rem;
  font-family: $secondary-font;
  font-size: 2rem;
  color: $white-color;
  line-height: 1.7;
}

.services__bot {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 5fr 1fr;
  grid-template-areas: ". prices . desc .";
  padding-top: 7rem;
}

.services__bot__prices {
  grid-area: prices;
}

.services__bot__desc {
  grid-area: desc;
  padding-top: 2.5rem;
}

.services-title {
  padding-bottom: 2rem;
  color: $white-color;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.color--red {
  color: $primary-color;
}

.services-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 1rem;
  letter-spacing: 1px;
}

.service-price {
  color: $white-color;
  text-align: right;
}

.services__bot__desc {
  font-size: 1.125rem;
  line-height: 1.8;
}

// SERVICES MEDIA QUERIES
@media (max-width: 1399px) {
  .services__top {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1299px) {
  .services__top {
    grid-template-columns: 1fr 1fr;
  }

  .services__bot {
    grid-template-columns: 1fr 3fr 1fr 5fr 1fr;
  }

  .services-heading {
    padding-right: 4rem;
  }
}

@media (max-width: 1152px) {
  .services__bot {
    grid-template-columns: 3fr 1fr 5fr;
    grid-template-areas: "prices . desc";
  }
}

@media (max-width: 1104px) {
  .services {
    margin-top: 0;
    padding: 6rem 0;
  }

  .services__top {
    grid-template-columns: 1fr;
    padding-top: 0;
  }

  .services__top__header {
    padding-bottom: 4rem;
  }

  .services__top__header:before {
    background: none;
  }

  .services-heading {
    max-width: 760px;
    padding-right: 0;
  }

  .services__top__img {
    text-align: left;
  }

  .services__bot {
    padding-top: 4rem;
  }
}

@media (max-width: 754px) {
  .services {
    padding: 6rem 0;
  }

  .services__bot {
    grid-template-columns: 1fr;
    grid-template-areas: "prices""desc";
  }

  .services__bot__prices {
    max-width: 400px;
  }
}

@media (max-width: 439px) {
  .services-heading {
    font-size: 1.5rem;
  }
}

/*--------------------------------------------------------------
5.0 PRODUCTS
--------------------------------------------------------------*/

.products {
  position: relative;
  padding: 10rem 0;
  margin-bottom: 10rem;
}

.products__wrapper:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50vw;
  height: 100%;
  background: $primary-color;
  z-index: -5;
}

.products__grid {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.products__header,
.products__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-heading {
  color: $white-color;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.products__content li {
  margin: 2rem;
}

.products-item {
  display: block;
  color: $white-color;
  font-family: $secondary-font;
  font-size: 2rem;
  transition: all 0.2s;
}

.products-item:hover {
  color: $primary-color;
}

@media (max-width: 1139px) {
  .products {
    margin: 0;
  }

  .products__grid {
    grid-template-columns: 1fr;
  }

  .products__wrapper:before {
    width: 100vw;
    height: 50%;
  }

  .products__img {
    display: flex;
    justify-content: center;
    padding: 8rem 0;
  }
}

@media (max-width: 1139px) {
  .products {
    padding: 4rem 0;
  }

  .products__img {
    padding: 4rem 0;
  }
}

/*--------------------------------------------------------------
6.0 BANNER
--------------------------------------------------------------*/
.banner {
  background: url(../img/london-barber.jpg) center;
  background-size: cover;
}

.banner__wrapper {
  min-height: 328px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-title {
  padding-bottom: 1rem;
  color: $white-color;
  font-size: 3rem;
  font-family: $secondary-font;
}

.banner-subtitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.8;
}

// BANNER MEDIA QUERIES
@media (max-width: 939px) {
  .banner-title {
    padding-bottom: 1rem;
    font-size: 2.5rem;
  }
}

@media (max-width: 639px) {

  .banner-title,
  .banner-subtitle {
    display: none;
  }
}

@media (max-width: 439px) {
  .banner__wrapper {
    min-height: 240px;
  }
}

/*--------------------------------------------------------------
7.0 CONTACT
--------------------------------------------------------------*/
.contact {
  padding: 6rem 0 5rem 0;
}

.contact__wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr 5fr 1fr 3fr;
  grid-template-areas: "info . links . hours";
}

.contact-info {
  grid-area: info;
}

.more-links {
  grid-area: links;
  padding-top: 4.375rem;
}

.working-hours {
  grid-area: hours;
}

.hours-title {
  padding-bottom: 2rem;
  text-transform: uppercase;
  color: $white-color;
  letter-spacing: 2px;
}

.day {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 1rem;
  letter-spacing: 1px;
}

.hours {
  text-align: right;
}

.contact-logo {
  max-width: 10rem;
  padding-bottom: 3rem;
}

.contact-details p {
  letter-spacing: 2px;
  padding-bottom: 1rem;
  color: $grey-color;
}

.contact-socials {
  display: flex;
  padding-top: 1.5rem;
}

.social-icon {
  margin-right: 1rem;
}

.social-icon svg {
  padding: 0.5rem;
  width: 1.5rem;
  fill: $grey-color;
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}

.social-icon svg:first-of-type {
  padding-left: 0;
}

.social-icon:hover svg {
  fill: $white-color;
}

// MORE LINKS
.more-links nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.more-links li {
  margin-bottom: 1rem;
}

.footer-link {
  letter-spacing: 1px;
}

// CONTACT MEDIA QUERIES
@media (max-width: 1319px) {
  .contact__wrapper {
    grid-template-columns: 3fr 1fr 4fr 1fr 4fr;
  }
}

@media (max-width: 1199px) {
  .contact__wrapper {
    grid-template-columns: 6fr 1fr 8fr 1fr 8fr;
  }
}

@media (max-width: 939px) {
  .contact__wrapper {
    grid-template-columns: 3fr 2fr;
    grid-template-areas: "info hours""links links";
  }

  .more-links {
    max-width: 500px;
  }

  .working-hours {
    max-width: 400px;
  }
}

@media (max-width: 789px) {
  .contact__wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "info hours"" links links";
  }
}

@media (max-width: 645px) {
  .contact {
    padding: 3rem 0 2rem 0;
  }

  .contact__wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "info""hours""links";
  }

  .contact-socials {
    padding-top: 0;
    padding-bottom: 2rem;
  }

  .working-hours {
    padding: 2.5rem 0 2rem 0;
    border-top: 1px solid #272727;
    border-bottom: 1px solid #272727;
  }

  .more-links {
    padding-top: 2.5rem;
  }

  .day {
    grid-template-columns: 1fr 2fr;
  }
}

/*--------------------------------------------------------------
8.0 LEGAL
--------------------------------------------------------------*/

.legal {
  color: $grey-color;
  background: $dark-color;
  font-size: 0.875rem;
  line-height: 1.7;
  letter-spacing: 1px;
}

.legal__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.legal-link {
  color: $grey-color;
  margin-right: 2rem;
}

.legal-link:last-of-type {
  margin: 0;
}

.js-go-top {
  position: fixed;
  right: 1rem;
  bottom: 1.625rem;
  background: none;
  border: none;
  fill: $grey-color;
  z-index: 118;
  opacity: 0;
  transition: opacity 1s linear, fill 0.2s ease;
}

.js-go-top:hover {
  fill: $white-color;
}

.visible {
  opacity: 1;
  cursor: pointer;
}

@media (min-width: 750px) and (max-width: 1599px) {
  .legal__info {
    margin-right: 6rem;
  }
}

@media (max-width: 749px) {
  .legal__wrapper {
    flex-direction: column;
  }

  .legal-link {
    margin-right: 1rem;
  }

  .js-go-top {
    bottom: 2.5rem;
  }
}

@media (max-width: 439px) {
  .js-go-top {
    right: 1rem;
  }
}

@media (max-width: 379px) {
  .legal {
    letter-spacing: 0;
  }

  .js-go-top {
    bottom: 1rem;
  }
}

// avoid FOUC - show
html {
  visibility: visible;
  opacity: 1;
}